html {
  scroll-snap-type: y mandatory; // Ensure snapping is mandatory
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-x: hidden; //
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100lvh;
  width: 100vw;
  scroll-snap-align: center; // Align sections to the center
  overflow: hidden;
  margin-bottom: 20px; // Add margin below each section
}

section:first-of-type {
  height: 100svh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}

@media (max-width: 768px) {
  #Advantages {
    display: none; // Hide all sections on mobile view
  }
}
